$primary-color: #ff6060;
$color-white: #fff;
$background-color-gray1: #e7e7e7;
$background-color-gray2: #121212;
$primary-color_spinner: #9356dc;
$secondary-color_spinner: #ff79da;
$tertiary-color_spinner: #99e2d0;

$screen-sm-breakpoint: 800px;

@mixin sm {
    @media (max-width: #{$screen-sm-breakpoint}) {
        @content;
    }
 }