@import "../../style.scss";

.homeDiv {
    color: white;
}

.homeHeaderImg {
    mix-blend-mode: darken;
}

.cardListDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background-color: #f7f7f7;
    border-radius: 25px;
    gap: 20px;
    padding: 20px;
}

