@import "../../style.scss";

.headerNav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures logo, links, and toggle are spaced out */
    padding: 30px;
}

.navDiv {
    display: flex;
    gap: 30px;
    align-items: center; /* Align links vertically with the toggle */
}

.headerLink {
    font-size: 24px;
    color: $primary-color;
    text-decoration: none;
    white-space: nowrap;
}

.headerLink:hover,
.headerLink:focus,
.active {
    text-decoration: underline;
}

.darkModeToggleDiv {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

@include sm {
    .logo {
        width: 6rem;
    }
    .headerLink {
        font-size: 1rem;
        text-transform: uppercase;
    }
}
