@import "../src/Styles/variables.scss";


body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

$background-color-gray1: #e7e7e7;
$background-color-gray2: #121212;
$primary-color_spinner: #9356dc;
$secondary-color_spinner: #ff79da;
$tertiary-color_spinner: #99e2d0;

//animation chargement a la page index
.loading {
  z-index: 101;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $background-color-gray1;
  animation: loadingEnd 0s ease-in 3s forwards;

  &-logo {
    z-index: 3;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loadingLogo 3s ease-in-out;
  }

  &-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-ring:after {
    content: "  ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    animation: loadingAnim 3s ease-in-out;
  }

  &-dark {
    background-color: $background-color-gray2;
  }
}

//anim fin de chargement page index
@keyframes loadingEnd {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

//anim logo chargement page index
@keyframes loadingLogo {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

//anim spinner page index
@keyframes loadingAnim {
  0% {
    transform: rotate(0deg) scale(1);
    border-color: $primary-color_spinner transparent $tertiary-color_spinner transparent;
  }

  100% {
    transform: rotate(360deg) scale(2.5);
    border-color: $tertiary-color_spinner transparent $primary-color_spinner transparent;
  }
}